 /* Reset default style */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

  
.text-center{
    text-align: center;
}

body{
    background: #BDB7B4;
}
 /* Container for the same alingment */

.container{
    padding: 20px;
    color: white;
    
}

/* box to contain form */

.box{
    margin: auto;
    background: #22303B;
    width: 400px;
    border-radius: 10px;
    border: 5px solid white;
    padding: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

form input, textarea{
    width: 100%;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    padding: 10px;
}

.error{
    color: #FF0000;
}

input:disabled{
    color: white;
}

.btn{
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background: green;
    color: white;
}

.btn:hover{
    background: rgb(5, 155, 5);
    cursor: pointer;
}
 

input[type="file"]{
    width: 50% ;

}

.img-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table{
    border:   white;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}